<div data-bsi-element="organization" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-field"
        class="reverse-for-required text-field"
        data-bsi-form-field-fixed-type=""
        class="firm-wrapper">
        <input id="firm"
            name="firm"
            class="custom-form-field firm"
            type="text"
            placeholder="Organization"
            spellcheck="true"
            required="" />
        <label class="text-field-label"  for="firm">
    {{properties.labels.company}}
        </label>
    </div>
</div>
