
<div data-bsi-element="form-radio-btns" class="radiobutton-container-wrapper-vertical" style="padding-bottom: 15px;">
<div  id="radio-single-wrapper">
    <div data-bsi-element-part="form-radio"
        class="form-field-container whitelabel-form-radio form-radio form-element radiobutton-set-container"
        data-bsi-value=""
        data-bsi-value-list="one"
        id="radiobtns">
        <div class="form-radio-group radiobutton-set-container-vertical" data-bsi-radio-group="">
            <div class="form-radio-item custom-radiobutton-container-vertical" data-bsi-radio-item="">
                <input type="radio"
                    id="radiobtns-0"
                    name="radiobtns"
                    value="one" 
                    class="radio-btn-vertical"/>
                <label for="radiobtns-0">{{properties.radio_text}}</label>
                <span class="custom-radiobutton-frame"></span>
            </div>
           
        </div>
    
    </div>
              <div class="error-message-title isVisible">
 {{properties.title_error}}
    </div>
    </div>
</div>