<div data-bsi-element="info-element" class="element-info layout-columns">
  <div  class="column-left text-bold">
 <div data-bsi-element-part="formatted-text">
 {{text_bold ? : "Lorem ipsum"}}
 </div>
  </div>
  <div class="column-right text-normal">
<div data-bsi-element-part="formatted-text">{{text_normal ? : "Lorem ipsum"}}</div>
  </div>
</div>
