<div data-bsi-element="logo">
    <a data-bsi-element-part="image"
        href="https://www.switch.ch/"
        title="Switch Logo"
        target="_blank">
        <img class="header__logo"
            src="{{
            bsi_cx_asset(
                '../../../../../resources/images/Switch_logo_pos_RGB.svg'
            )
            }}"
            alt="Switch Logo" />
    </a>
</div>
