.content-title {
    color: var(--primary);
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.title-wrapper {
    margin-bottom: 20px;
}
