<div data-bsi-element="content-title" class="title-wrapper">
    <h1 class="content-title"
        data-bsi-element-part="formatted-text">
        {{ title
            ?
            : 'Accumsan lacus vel facilisis volutpat est.' }}
    </h1>
</div>
