.social-media-item.social-icons__linkedin {
    width: 16px;
    height: 16px;
    fill: var(--primary);
    margin-right: 10px;
}

.social-media-item.social-icons__twitter {
    width: 16px;
    height: 16px;
    fill: var(--primary);
}

.social-follow-card {
    list-style: none;
    display: flex;
    flex-direction: row;
}
