
    <div data-bsi-element="three-card" >
    <div data-bsi-dropzone="three-cards-zone" class="content-section">
            {% include "../card/template.twig" with {
                name_zone: "social-1"
            }%}
            {% include "../card/template.twig" with {
                name_zone: "social-2"
            }%}
            {% include "../card/template.twig" with {
                name_zone: "social-3"
            }%}
    </div>
    </div>


