
    <div data-bsi-element="three-card" >
    <div data-bsi-dropzone="three-cards-zone" class="content-section">
            {% include "../card/template.twig" %}
            {% include "../card/template.twig" %}
            {% include "../card/template.twig" %}
    </div>
    </div>


