<div class="footer-link-container" data-bsi-element="footer-link">
    <a data-bsi-element-part="link"
        class="footer-link"
        href="{{ href }}"
        target="_blank">
        {{ link_text }}
    </a>
</div>
