
    <div data-bsi-element="card" class="card">

               <img data-bsi-element-part="image" src="{{ bsi_cx_asset(
                    '../../../../../resources/images/octopus_article-pic_0.jpg'
                )
                }}" alt="">
             
               <h2 data-bsi-element-part="plain-text" >Card 1</h2>
             
            
           
               <div class="description" data-bsi-element-part="formatted-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              
               </div>
           
    </div>


