<div data-bsi-element="footer-address" class="footer-address-container">
    <div data-bsi-element-part="formatted-text" class="footer-address-text">
        <p>
            Zürich
        </p>
        <p>
            Werdstrasse 2
        </p>
        <p>
            8004 Zürich
        </p>
    </div>
    <div class="footer-address-button-wrapper">
        <a class="button-footer-white"
            data-bsi-element-part="link"
            href="[weblink]"
            data-event-action="button"
            data-event-label=""
            title="Kontakt"
            target="_blank">
            Kontakt
        </a>
    </div>
</div>
