<div data-bsi-element="agenda-table" >
<section class="section-spacer">
        <div class="content-container">
               
<div data-bsi-dropzone="agenda-elements">
 {% include '../../elements/title-h2/template.twig' with {
     title: "Agenda"
    }%}
    {% include '../../elements/divider/template.twig' %}
    {% include '../../elements/info-element/template.twig' with {
      text_bold: "Eu augue ut lectus arcu bibendum. ",
      text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%}
 {% include '../../elements/divider/template.twig' %}
      {% include '../../elements/info-element/template.twig' with {
      text_bold: "Eu augue ut lectus arcu bibendum. ",
        text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%}
  {% include '../../elements/divider/template.twig' %}
        {% include '../../elements/info-element/template.twig' with {
      text_bold: "Eu augue ut lectus arcu bibendum. ",
        text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%}
    {% include '../../elements/divider/template.twig' %}
        {% include '../../elements/info-element/template.twig' with {
      text_bold: "Eu augue ut lectus arcu bibendum. ",
        text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%}
    {% include '../../elements/divider/template.twig' %}
        {% include '../../elements/info-element/template.twig' with {
      text_bold: "Eu augue ut lectus arcu bibendum. ",
        text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%}
    {% include '../../elements/divider/template.twig' %}
        {% include '../../elements/info-element/template.twig' with {
      text_bold: "Eu augue ut lectus arcu bibendum. ",
        text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%}
    {% include '../../elements/divider/template.twig' %}
        {% include '../../elements/info-element/template.twig' with {
      text_bold: "Eu augue ut lectus arcu bibendum. ",
        text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%} 
      {% include '../../elements/divider/template.twig' %}
        {% include '../../elements/info-element/template.twig' with {
      text_bold: "Eu augue ut lectus arcu bibendum. ",
        text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%}
    {% include '../../elements/divider/template.twig' %}
   
    </div>

</div>

 </section>

</div>
