<div data-bsi-element="blue-button" class="button-container">
    <a class="button-blue"
        data-bsi-element-part="link"
        href="[weblink]"
        data-event-action="button"
        data-event-label=""
        title="Anmelden"
        target="_blank">
        Anmelden
    </a>
</div>
