<div data-bsi-element="full-name" class="two-column-layout">
    <div data-bsi-dropzone="name-first-container-one"
        style="padding: 0 15px 0 0;">
            {% include '../name/template.twig' %}
    </div>
    <div data-bsi-dropzone="name-last-container-two"
        style="padding: 0 0 0 15px;">
            {% include '../last-name/template.twig' %}
    </div>
</div>
