.header {
    // position: fixed;
    // top: 0px;
    // left: 0px;
    // right: 0px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.1);
    //z-index: 99;
    .header__inner {
        display: flex;
        min-height: 6rem;
        align-items: center;
        margin: auto;

        .logo-wrap {
            width: 30%;
            text-align: left;
        }
        .logo-right-wrap {
            width: 70%;
            text-align: right;
        }
    }
}
