<div class="sticky-header" data-bsi-element="header-with-logo">
<section class="section-spacer">
    <div class="header" aria-label="Site header">
        <div class="header__inner container">
            <div data-bsi-dropzone="logo-header" class="logo-wrap">
                {% include '../../elements/logo/template.twig' %}
            </div>
            <div data-bsi-dropzone="languages" class="header-languages">
            {% include '../../elements/formatted-text/template.twig' with {
                text: "EN | DE | FR"
            }%}
           
            </div>
        </div>
    </div>
    </section>
</div>
