<div data-bsi-element="full-width-image" >
<section class="section-spacer">
     <div class="image-full-width-wrapper ">
        <div class="full-width-image">
            <!-- Image_with_text__content_start -->
            <div class="media-image">
                <div class="media-image__wrap">
    <div class="image-wrapper">
        <div class="image-block">
            <img class="image-banner" data-bsi-element-part="image"
                src="{{ bsi_cx_asset(
                    '../../../../../resources/images/test1.jpeg'
                )
                }}">
                  </div>
    </div>
    </div>
    </div>   
</div>   
</div>
</section>  
</div>
