<div data-bsi-element="info-table" >
<section class="section-spacer">
        <div class="content-container">
         
<div data-bsi-dropzone="info-table-block">
 {% include '../../elements/title-h2/template.twig' with {
     title: "Info"
    }%}
{% include '../../elements/divider/template.twig' %}
     {% include '../../elements/info-date-element/template.twig' with {
      text_bold: "Datum",
      text_normal: "23.-24. May 2023 "
    }%}
   {% include '../../elements/divider/template.twig' %}
      {% include '../../elements/info-ort-element/template.twig' with {
      text_bold: "Ort ",
      text_normal: "Casino Bern"
    }%}
 {% include '../../elements/divider/template.twig' %}
        {% include '../../elements/info-element/template.twig' with {
      text_bold: "Zusätzliche Infos",
      text_normal: "Turpis egestas sed tempus urna et pharetra. Massa vitae tortor condimentum lacinia quis vel eros."
    }%}
 {% include '../../elements/divider/template.twig' %}
  
</div>
</div>
 </section>
</div>