<div data-bsi-element="footer-copyright"  class="footer-copyright-container">
<div class="svg-wrapper">
<img width="10" height="10"  src="{{ bsi_cx_asset(
                    '../../../../../resources/images/copyright.svg'
                )
                }}" alt="">
                </div>
    <div data-bsi-element-part="formatted-text" class="footer-copyright-text">
       {{text}}
    </div>
</div>